<div class="jumbotron text-center">
    <p>Project Logistics</p>
    <p></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <p>{{message}}</p>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-xs-4 col-md-2 text-center" ng-repeat="service in services.text">
            <p>{{service}}</p>
        </div>
    </div>
</div>
<div id="parallax-containers">
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
            <p>Cargo & Logistics</p>
            <p ng-repeat="introduction in introductions.text"> <br /> {{introduction}}
            </p>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row text-center">
        <div class="col-xs-12 col-md-12">
            <p>{{serviceIntroduction}}</p>
            <br />
            <p>Our Services:</p>
            <hr />
        </div>
    </div>
</div>
<!-- <div class="container">
<div class="row">
<div class="col-xs-3 col-md-6 text-center" ng-repeat="feature in features">
<p><a ng-click="showDetails =! showDetails">{{feature.name}}</a>
</p>
<p class="text-center" ng-show="showDetails">{{feature.definition}}
</p>
</div>
</div>
</div> -->

<!-- MODAL TEST -->

<div class="container">
    <div class="row text-center">
        <div ng-init="showModal=false">
            <div class="col-xs-6 col-md-4" ng-repeat="feature in features">
                <!-- main link -->
                <p class="text-center"><a ng-click=  "showModal =! showModal">{{feature.name}}</a></p>

                <div class="modal" aria-hidden="true" style="display: block;" ng-show="showModal">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header"><button type="button" class="close" ng-click="showModal=false">x</button>
                                <p class="modal-title">{{feature.name}}</p>
                            </div>
                            <div class="modal-body">
                                <p>
                                    {{feature.definition}}
                                </p>
                            </div>
                            <!-- <div class="modal-footer">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ng-init -->
    </div>
    <!--row -->
</div>
<hr />
<!-- container -->

<!-- END OF MODAL TEST -->
